
<div class="container-cubes ">
  
    <div class="page-header">

      <h2><%= @list.name.capitalize %></h2>
      <div class="list-author">
        <% if current_user == @list.creator %>
          <h5 class="back"><%= link_to "Back to Profile", current_user %></h5>
        <% else %>
          <h5><%= link_to @list.creator.username, @list.creator %></h5>
        <% end %>
      </div>
    </div>
 



<div class="dropdown pull-right test-class" role="group">
  <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">Options
  <span class="caret"></span></button>
  <ul class="dropdown-menu">
    <li class="dropdown-header">Sort folders</li>
    <li><%= link_to "Alphabetically", :action => "show", :sort => "name" %></li>
    <li><%= link_to "By popularity", :action => "show", :sort => "popularity" %></li>
    <li><%= link_to "By default", :action => "show", :sort => "age" %></li>
    <li role="separator" class="divider"></li>
    <li><%= link_to "Edit this folder", :action => "edit" %></li>
  </ul>
</div>


<% if @bookmarks %>

  <p id="bookmark-sort"><% @bookmarks.each do |bookmark| %></p>

  <a href="<%= bookmark.url %>" target="_blank">
  <li class="display">
    <div class="website" onclick="return true">
      <div class="snapshot">
        <h3 class="bookmark-title"><%= truncate(bookmark.name.capitalize, length: 12, separator: ' ') %></h3>

        <div class="snapshot-image">
        <% if bookmark.snapshot %>
          <% if bookmark.snapshot.thumbnail %>
            <%= image_tag bookmark.snapshot.thumbnail.url, class:"thumbnail" %>
          <% end %>
        <% else %>
          <%= image_tag "missing-thumb.jpg", class:"thumbnail" %>
        <% end %>
        </div>
      </div>
      <div class="details">
        <header>
          <h1><%= bookmark.name.capitalize %></h1>
          <span class="site-info"></span>    <!-- placeholder for future text -->
        </header>
        <p>
          Notes about this bookmark will go here.
        </p>
      </div>
    </div>
  </a>
  <% end %>
<% else %>
  <p class="text-warning">Sorry but it doesn't look like you have any bookmarks yet :(</p>
<% end %>
