<div class="heading">
  <h2><%= @list.name %></h2>
</div>

<% if @list.bookmarks %>
<% @list.bookmarks.each do |bookmark| %>

<a href="<%= bookmark.url %>" target="_blank">
<li class="display">
  <div class="website" onclick="return true">
    <div class="snapshot">
      <h3><%= truncate(bookmark.name.capitalize, length: 12, separator: ' ') %></h3>
      <div class="snapshot-image">
        <%= image_tag bookmark.snapshot.url, class:"thumbnail" %>
      </div>
    </div>
    <div class="details">
      <header>
        <h1><%= bookmark.name.capitalize %></h1>
        <span class="site-info"></span>    <!-- placeholder for future text -->
      </header>
      <p>
        A cattle baron takes in an orphaned boy and raises him, causing his own son to resent the boy. As they get older the resentment festers into hatred, and eventually the real son frames his stepbrother for fathering an illegitimate child that is actually his, seeing it as an opportunity to get his half-brother out of the way so he can have his father's empire all to himself.
      </p>
    </div>
  </div>
</a>
<% end %>
<% else %>
  <p class="text-warning">Sorry but it doesn't look like you have any bookmarks yet :(</p>
<% end %>


<!-- integrate and style this with above -->

