<div class="container">
  <div class="row">
    <h2>Edit your profile</h2>
    <div class="col-md-3">
          <%= form_for @user, method: "patch", html: {id: "create-user"} do |f| %>
            <%= f.label :email %>
            <%= f.text_field :email, class: 'form-control' %>

            <%= f.label :first_name %>
            <%= f.text_field :first_name, class: 'form-control' %>

            <%= f.label :last_name %>
            <%= f.text_field :last_name, class: 'form-control' %>
            <br>
            <%= f.submit "Update", class: 'btn btn-default' %>
          <% end %>
    </div>
  </div>
</div>
