<div class="container-cubes">

 <div class="page-header">
  <h3>All Users</h3>
    <div class="list-author">
      <h5><%= link_to "Back to Profile", current_user %></h5>
    </div>
  </div>
  <table id="user-table">
    <% @users.each do |user| %>
      <tr>
        <td><%= link_to user.username.capitalize, user, class: 'mint-green' %></td>
        <td class="big-space"></td>
        <td class="right-td"><%= user.bookmarks.count %></td>
        <td class="space"></td>
        <td><%= user.bookmarks_label %></td>
        <td class="space"></td>
        <td>|</td>
        <td class="space"></td>
        <td class="right-td"><%= user.followers.count %></td>
        <td class="space"></td>
        <td><%= user.followers_label %></td>
      </tr>
    <% end %>
  </table>
</div>