<div class="users-index">
  <h3>All Users</h3>
  <table id="user-table">
    <% @users.each do |user| %>
      <tr>
        <td><%= link_to user.username.capitalize, user, class: 'mint-green' %></td>
        <td class="big-space"></td>
        <td class="right-td"><%= user.bookmarks.count %></td>
        <td class="space"></td>
        <td><%= user.bookmarks_label %></td>
        <td class="space"></td>
        <td>|</td>
        <td class="space"></td>
        <td class="right-td"><%= user.followers.count %></td>
        <td class="space"></td>
        <td><%= user.followers_label %></td>
      </tr>
    <% end %>
  </table>
</div>