<div class="container-cubes">
<div class="row">
<div class="page-header">
<h2><%= @user.full_name || @user.username %>'s Folders</h2>
<h3>
  <section class="stats">
    <%= render 'shared/following_stats' %>
    <%= render 'shared/follow_form' if current_user %>
  </section>
</h3>

  <div class="dropdown pull-right" role="group">
    <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">Options
    <span class="caret"></span></button>
    <ul class="dropdown-menu">
      <li class="dropdown-header">Sort folders</li>
      <li><%= link_to "Alphabetically", :action => "show", :sort => "name" %></li>
      <li><%= link_to "By number of links", :action => "show", :sort => "size" %></li>
      <li><%= link_to "By popularity", :action => "show", :sort => "popularity" %></li>
      <li><%= link_to "By default", :action => "show", :sort => "age" %></li>
      <li role="separator" class="divider"></li>
      <li><%= link_to "Create new folder", :controller => "lists", :action => "new" %></li>
      <li><%= link_to "Edit your profile", :action => "edit" %></li>
    </ul>
  </div>
  </div>



    <% if @lists %>
    <% @lists.each do |list| %>

    <li class="display">
      <div class="website" onclick="return true">
        <div class="folder">
          <h3 class="bookmark-title"><%= truncate(list.name.capitalize, length: 18, separator: ' ') %></h3>
          <div class="folder-image">
            <div class = "folder-count">
              <h4><%= list.bookmarks.count %></h4>
            </div>
          </div>
        </div>
        <div class="details folder-list">
            <div class="list-name">
              <%= link_to list.name.capitalize, list %>
              <div class="pull-right lift-up">
                <% if current_user %>
                  <% if current_user.id == @user.id %>
                  <ul>
                    <li><%= link_to '<i class="fa fa-pencil-square-o"></i>'.html_safe, {action: :edit, id: list.id, controller: "lists"}, method: "get" %></li>
                    <li><%= link_to '<i class="fa fa-ban"></i>'.html_safe, {action: :destroy, id: list.id, controller: "lists"}, method: "delete" %></li>
                  <% else %>
                  </ul>
                  <%= link_to '<i class="fa fa-plus"></i>'.html_safe, {action: :create, list: {list_to_dup: list}, controller: "lists"}, class: "top-corner align-right", :method => "post" %>
                  <% end %>
                <% end %>
              </div>
            </div>
              <ul class="book-list">
                <% list.bookmarks.take(5).each do |bookmark| %>
                <li>
                  <a href="<%= bookmark.url %>" target="_blank">

                  <%= truncate(bookmark.name.capitalize, length: 25, separator: ' ') %>
                  </a>
                </li>
            <% end %>
              </ul>
        </div>
      </div>
    <% end %>
    <% else %>
      <p class="text-warning">Sorry but it doesn't look like you have any lists yet :(</p>
    <% end %>
    </div>
  </div>
</div>

