temp-file-jacob's code.html.erb

<%= button_to "Sort by Age", :user, method: "get", params: {sort: "age"} %>
<%= button_to "Sort Alphabetically", :user, method: "get", params: {sort: "name"} %>
<%= button_to "Sort by Size", :user, method: "get", params: {sort: "size"} %>
<%= button_to "Sort by Topic Popularity", :user, method: "get", params: {sort: "popularity"} %>

<div class="container">
    <% if @user.id == current_user.id %>
    <%= link_to "New List",  :new_list, class: "btn btn-primary spaced" %>
    <%= button_to "Edit Profile",  :edit_user, class: "btn btn-primary spaced", :method => :get %>
  <% end %>
</div>
