<!DOCTYPE html>
<html>
<head>
  <title>Bookmark It!</title>
  <%= favicon_link_tag 'favicon.png' %>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>


<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Register Here!</h4>
      </div>
        <div class="modal-body">
          <%= render 'users/new' %>
        </div>

    </div>
  </div>
</div>

<body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">

  <!-- Navigation -->
  <nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse"><i class="fa fa-bars"></i></button>
          <a class="navbar-brand page-scroll" href="#page-top">
              <%= link_to "<i class'fa fa-play-circle'></i><div id='logo'><span class='light'>Bookmark</span> It!</div>".html_safe, :root %>
          </a>
      </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse navbar-right navbar-main-collapse">
        <!-- <div class="pull-right"> -->
          <ul class="nav navbar-nav">
            <% if session[:user_id] %>
              <li><%= link_to "Explore!", users_path %></li>
              <li><%= link_to "#{current_user.username}", User.find(session[:user_id]) %></li>
              <li><%= link_to "Upload", :new_upload %></li>
              <li> <%= link_to "Logout", logout_path, method: "delete" %></li>

          <% else %>
          <li><%= form_for :session, url: login_path, html: {class: "navbar-form navbar-right"} do |f| %></li>
            <li><%= f.text_field :username, placeholder: "username", class: "form-control" %></li>
            <li><%= f.password_field :password, placeholder: "password", class: "form-control" %></li>
            <li><%= f.submit "Login", class: "btn btn-success" %></li>
            <% end %>

            <% if !session[:user_id] %>
            <button type="button" class="btn btn-default" data-toggle="modal" data-target="#myModal">
            Register
            </button>
            <% end %>
            <% end %>

            </ul>
          </div>
      </div>
    </div><!--/. container -->
  </nav>




  <%= yield %>

</body>
</html>
