<!DOCTYPE html>
<html>
<head>
  <title>BookmarkIt</title>
  <%= stylesheet_link_tag    'application', 'custom', 'boxes', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>
  <nav class="navbar navbar-inverse navbar-fixed-top">
        <a class="navbar-brand" href="/display_bookmarks">Bookmark It!</a>
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      </div>
      <div id="navbar" class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
          <% if session[:user_id] %>
            <!-- <li><%= link_to "Home", :root %></li> -->
            <li><%= link_to "Profile (#{current_user.username})", User.find(session[:user_id]) %></li>
            <li> <%= link_to "Logout", logout_path, method: "delete" %></li>
          <% else %>
            <!-- <li><%= link_to "Home", :root %></li> -->
            <!-- <li><%= link_to "Register", :new_user %></li> -->
        </ul>
            <%= form_for :session, url: login_path, html: {class: "navbar-form navbar-right"} do |f| %>
              <div class="form-group">
                <%= f.text_field :username, placeholder: "username", class: "form-control" %>
                <%= f.password_field :password, placeholder: "password", class: "form-control" %>
              </div>
              <%= f.submit "Login", class: "btn btn-success" %>
              <% if !session[:user_id] %>
                <%= link_to "Register", :new_user %>
              <% end %>
            <% end %>
          <% end %>
      </div>
    </div>
  </nav>

  <% if flash[:notice] %>
    <%= flash[:notice] %>
  <% end %>
  <% if flash[:alert] %>
      <%= flash[:alert] %>
  <% end %>

<!-- don't remove yield! -->
<div class = "container-fluid">
  <%= yield %>
</div>
</body>
</html>
